.VideoFooter{
    position: relative;
    bottom: 200px;
    color: white;
    margin-left: 30px;
}

.VideoFooterText h3 {
    padding-bottom: 15px;
}

.VideoFooterText p{
    padding-bottom: 1px;
}
  
.VideoFooterMusic{
    display: flex;
} 

.VideoFooterMusicText{
    width: 80%;
    overflow-x: hidden;
    
}

.VideoFooterMusicText p{
    animation: moveTheText 5s infinite linear;
    
}

.VideoFooterRecord{
    animation: spinTheRecord 5s infinite linear;
    position: absolute;
    bottom: 10px;
    right: 20px;
    height: 50px;
    filter: invert(2);
    
}

@keyframes spinTheRecord {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
       }
}

@keyframes moveTheText {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
       }
}

@media only screen and (max-width: 440px) {
    .VideoFooter{
       bottom: 25%;
    }
    .VideoFooterMusicText{
        width: 78%;
        
    }
    }